/* Couleurs */
:root {
    --background: #faf2e2;
    --yellow: #eac88e;
    --blue: #8fc4f7;
    --grey: #b3b3b3;
    --red: #e97e69;
}


/* Réinitialisation de base */
body {
    margin: 0;
    padding: 0;
    font-family: 'Afaacad', sans-serif;
    background-color: var(--background);
    color: #333;
}

/* Typographie */
.peralta-regular {
    font-family: "Peralta", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: 'Peralta', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

h2 {
    font-family: 'Peralta', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

h3 {
    font-family: 'Peralta', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

/* Boutons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-ajouter {
    background-color: var(--yellow);
    border: none;
}

.btn-supprimer {
    background-color: var(--red);
    border: none;
}

.btn-ajouter:hover {
    background-color: #e5b86b;
}

.btn-supprimer:hover {
    background-color: #e1664d;
}

/* Conteneurs */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Sections et fonds */
header,
footer {
    background-color: var(--blue);
    padding: 20px;
    text-align: center;
}

.section {
    background-color: var(--blue);
    padding: 20px;
    border-radius: 10px;
}

.form,
.description {
    background-color: var(--grey);
    padding: 20px;
    border-radius: 10px;
}


a {
    text-decoration: none;
    color: #333;
}

/* Flexbox */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.vertical-center {
    align-items: center;
}

.gap {
    gap: 20px;
}

/* Images */
.logo {
    height: 100px;
    object-fit: contain;
}


.hw-50px {
    height: 50px;
    width: 50px;
}

/* Formulaire */

input[type="text"] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    height: min-content;
}


/* burger */
.burger {
    display: none;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
}

.hide_desktop {
    display: none;
}

/* Media queries */

@media screen and (max-width: 768px) {
    .hide_mobile {
        display: none;
    }

    /* Menu*/
    .burger {
        display: block;
    }

    .off-screen-menu {
        background-color: #333;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        left: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        transition: 0.3s ease;

    }

    .off-screen-menu li {
        list-style: none;
        margin: 20px 0;

    }

    .off-screen-menu a {
        color: var(--background);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px
    }

    .off-screen-menu.active {
        left: 0px;
    }

    .ham-menu {
        height: 50px;
        width: 50px;
        position: relative;
        z-index: 1;
    }

    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: #333;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
    }

    .ham-menu span:nth-child(1) {
        top: 25%;
    }

    .ham-menu span:nth-child(3) {
        top: 75%;
    }

    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: var(--blue);
    }

    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        background-color: var(--blue);

    }
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.articles {
    background-color: var(--grey);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.articles img {
    width: 100%;
    height: auto;
    max-width: 150px;
    margin-bottom: 10px;
}

.articles ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.articles li {
    list-style-type: none;
}

.articles button {
    margin: 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.articles button:hover {
    background-color: #72a7d6;
}

/* Chapters */
.chapters {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.chapters a {
    text-decoration: none;
    color: var(--blue);
    background-color: var(--yellow);
    padding: 10px 15px;
    border-radius: 5px;
}

.chapters a:hover {
    background-color: #e5b86b;
}