/* Couleurs */
:root {
    --background: #faf2e2;
    --yellow: #eac88e;
    --blue: #8fc4f7;
    --grey: #b3b3b3;
    --red: #e97e69;
}

/* Réinitialisation de base */
body {
    margin: 0;
    padding: 0;
    font-family: 'Afaacad', sans-serif;
    background-color: var(--background);
    color: #333;
    display: flex; /* Utilisation de flexbox */
    flex-direction: column; /* Empilement des éléments verticalement */
    min-height: 100vh; /* Assure que le body occupe toute la hauteur de la fenêtre */
}

main {
    flex: 1; /* Permet au main d'occuper l'espace restant */
}

/* Typographie */
.peralta-regular {
    font-family: "Peralta", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: 'Peralta', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

h2 {
    font-family: 'Peralta', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

h3 {
    font-family: 'Peralta', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    margin: 0;
    padding: 1em 0;
}

h4,
h5 {
    font-family: 'Peralta', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    margin: 10px 0;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

/* Boutons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-primary {
    background-color: var(--blue);
    color: var(--background);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-ajouter {
    background-color: var(--yellow);
}

.btn-supprimer {
    background-color: var(--red);
}

.btn-ajouter:hover {
    background-color: #e5b86b;
}

.btn-supprimer:hover {
    background-color: #e1664d;
}

/* Conteneurs */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section_categorie {
    margin: 20px 0;
    border-radius: 10px;
}

.section_categorie h3 {
    padding-left: 50px;
}

.article_categorie {
    margin: 0 10px;
    gap: 20px;
}

.article_phare {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--blue);
}

header {
    padding: 20px;
}

footer {
    background-color: var(--blue);
    padding: 20px 0;
    text-align: center;
    width: 100%; /* Assure que le footer prend toute la largeur */
}

/* Ancre */
.ancre {
    position: fixed; /* Fixe la position de l'icône */
    bottom: 20px; /* Espace depuis le bas */
    right: 20px; /* Espace depuis la droite */
    background-color: var(--blue); /* Couleur de fond (modifiable) */
    color: var(--background); /* Couleur de texte */
    border-radius: 50%; /* Arrondir les coins */
    width: 50px; /* Largeur de l'icône */
    height: 50px; /* Hauteur de l'icône */
    display: flex; /* Utilisation de flexbox pour centrer le contenu */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    text-align: center; /* Centrer le texte */
    text-decoration: none; /* Supprime le soulignement */
    font-size: 1.5rem; /* Taille de la police */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre pour un effet d'élévation */
    transition: background-color 0.3s; /* Transition de couleur */
    border-color: white;
    border-style: solid;
}

.ancre:hover {
    background-color: var(--yellow); /* Changement de couleur au survol */
}

/* sections */
.section_phare,
.section {
    background-color: var(--blue);
    padding: 20px;
    text-align: center;
    margin: 20px 0;
}

.section_phare {
    background-color: var(--yellow);
}

.section h2,
.section h3 {
    color: var(--background);
    font-size: 1.5rem;
}

.form,
.description {
    background-color: var(--grey);
    padding: 20px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

.card_categorie {
    background-color: var(--yellow);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_categorie img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

/* Flexbox */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.space-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.vertical-center {
    align-items: center;
}

.gap {
    gap: 20px;
}

/* Images */
.logo {
    height: 100px;
    object-fit: contain;
}

.hw-50px {
    height: 50px;
    width: 50px;
}

/* Formulaire */
input[type="text"] {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #33333350;
    width: 100%;
    height: min-content;
}

input[type="text"]:focus {
    border: 2px solid #333;
}

/* burger */
.burger {
    display: none;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
}

.hide_desktop {
    display: none;
}

/* Carousel */
.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

.carousel-item-next,
.carousel-item-prev {
    position: absolute;
    top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
    transform: translateX(0);
}

.carousel-item-next,
.active.carousel-item-right {
    transform: translateX(100%);
}

.carousel-item-prev,
.active.carousel-item-left {
    transform: translateX(-100%);
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    text-align: center;
    opacity: 0.5;
    height: 100%;
    transition: opacity 0.15s ease-in-out;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: no-repeat 50%/100% 100%;
}

.carousel-control-prev-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%2380808080" viewBox="0 0 8 8"%3E%3Cpath d="M4.707 1.707L3.414 0.414 0 4l3.414 3.586 1.293-1.293L2.586 4z"/%3E%3C/svg%3E');
}

.carousel-control-next-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%2380808080" viewBox="0 0 8 8"%3E%3Cpath d="M3.293 1.707L4.586 0.414 8 4l-3.414 3.586-1.293-1.293L5.414 4z"/%3E%3C/svg%3E');
}

.carousel-control-product {
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators li {
    position: relative;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: #fff;
    cursor: pointer;
    transition: opacity 0.6s ease;
}

.carousel-indicators li.active {
    background-color: var(--yellow);
}

/* Media queries */

@media screen and (max-width: 768px) {


    .hide_mobile {
        display: none;
    }

    /* Menu*/
    .burger {
        display: block;
    }

    .off-screen-menu {
        background-color: #333;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        left: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        transition: 0.3s ease;
        z-index: 3;
    }

    .off-screen-menu li {
        list-style: none;
        margin: 20px 0;

    }

    .off-screen-menu a {
        color: var(--background);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px
    }

    .off-screen-menu.active {
        left: 0px;
    }

    .ham-menu {
        height: 50px;
        width: 50px;
        position: relative;
        z-index: 1;
    }

    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: #333;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
    }

    .ham-menu span:nth-child(1) {
        top: 25%;
    }

    .ham-menu span:nth-child(3) {
        top: 75%;
    }

    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: var(--blue);
    }

    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        background-color: var(--blue);

    }
    /* Phares */
    .section_phare{
        padding: 0;
    }
    .article_phare{
        border-radius: 0;
    }
}